@import "../../styles/variables.module.scss";
$background-secondary: $background-color-secondary;
.heroWrapper {
    background-color: $background-secondary;

    .bannerImage {
        object-fit: contain;
        width: 100% !important;
        position: relative !important;
        height: unset !important;
        @media only screen and (min-width: 600px) {
            height: 550px !important;
        }
    }
    .bannertitleWrapper {
        h1 {
            font-size: 50px;
            @media only screen and (max-width: 991px) {
                font-size: 25px;
            }
            @media only screen and (max-width: 480px) {
                font-size: 18px;
            }
        }
        h2 {
            @media only screen and (max-width: 991px) {
                font-size: 17px;
            }
            @media only screen and (max-width: 480px) {
                font-size: 14px;
            }
        }
    }
}
.imageSliderWrapper {
    // width: 100%;
    // display: flex !important;
    // justify-content: center;
    // align-items: center;
    outline: none;
}
