@import "../../styles/variables.module.scss";

$borderShade1: $border-grey-shade1;
$primaryColor: $font-color-primary;
$secondayColor: $font-color-secondary;

.loginTitleWrapper {
    text-align: center;
    h3 {
        font-size: xx-large;
        font-weight: bold;
        padding-bottom: 10px;
        margin-bottom: 10px;

        border-bottom: 1px solid $borderShade1;
    }

    h6 {
        font-size: large;
        font-weight: lighter;
    }
}
.forgotText {
    margin: 10px 0;
    font-size: smaller;
    font-weight: lighter;
}
.registerNowWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: right;
    strong {
        font-weight: lighter;
    }
}
