@import "../../styles/variables.module.scss";
$background-secondary: $background-color-secondary;
$bgRed: $background-red;
$textWhite: $text-white;

.redBg {
    background-color: $bgRed;
}

.textWhite {
    color: $textWhite;
}

.categorySliderWrapper {
    margin-top: 20px;
    // background-color: $background-secondary;

    .selectCategorySlider {
        display: flex;
        align-items: center;
    }
    .categoryImage {
        object-fit: contain;
        // width: 220px !important;
        width: 90% !important;
        height: 200px !important;
        position: relative !important;
        // height: unset !important;
        @media only screen and (min-width: 600px) {
            // height: 550px !important;
        }
    }
    .bannertitleWrapper {
        h1 {
            font-size: 50px;
            @media only screen and (max-width: 991px) {
                font-size: 25px;
            }
            @media only screen and (max-width: 480px) {
                font-size: 18px;
            }
        }
        h2 {
            @media only screen and (max-width: 991px) {
                font-size: 17px;
            }
            @media only screen and (max-width: 480px) {
                font-size: 14px;
            }
        }
    }
    .viewBtnWrapper {
        display: flex;
        justify-content: flex-end;
    }
    .titleWrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        h3 {
            cursor: pointer;
        }
    }
}
.imageSliderWrapper {
    // width: 100%;
    // display: flex !important;
    // justify-content: center;
    // align-items: center;
    outline: none;
    h4 {
        font-weight: 500;
        text-align: center;
    }
}
