@import "../../styles/variables.module.scss";

$borderShade1: $border-grey-shade1;
$primaryColor: $font-color-primary;
$secondayColor: $font-color-secondary;
.LoginPageUI {
    display: flex;
    // width: 100%;
    height: 100%;
    align-items: center;

    .rowwrapper {
        width: 100%;
        .brandtitle {
            text-align: center;
            font-weight: bold;
            font-size: xx-large;
            margin-bottom: 20px;
        }
        .sentOtptitle {
            text-align: center;
            font-weight: bold;
            font-size: large;
            margin-bottom: 20px;
        }
    }

    .loginFieldsWrapper {
        border: 1px solid $borderShade1;
        padding: 20px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

        border-radius: 8px;
    }
    .loginTitleWrapper {
        text-align: center;
        h3 {
            font-size: xx-large;
            font-weight: bold;
            padding-bottom: 10px;
            margin-bottom: 10px;

            border-bottom: 1px solid $borderShade1;
        }

        h6 {
            font-size: large;
            font-weight: lighter;
        }
    }
    .forgotText {
        margin: 10px 0;
        font-size: smaller;
    }
    .registerNowWrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: right;
        strong {
            font-weight: normal;
        }
    }
}
