@import "./variables.module.scss";
$primary-color: $button-color-primary;
$text-white: $text-white;

.productTitle {
  font-size: 18px;
  color: #000;
  font-weight: 600;
  margin: 0;
  text-transform: uppercase;
}

.textBlack {
  color: black !important;
}

.breadcrumb {
  a {
    color: black;
    font-weight: 600;
  }
}

.productDesc {
  color: grey;
  margin-top: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-transform: capitalize;
  letter-spacing: 0.5px !important;
}

.reviewBox {
  font-weight: 500;
  margin: auto 2px;
  font-size: 14px;
}

.starContainer {
  .star-container {
    padding-bottom: 5px !important;
  }
}
.star-container {
  padding-bottom: 5px !important;
}

.priceContainer {
  margin-top: 10px;
  del {
    font-size: 20px;
    line-height: 1.7;
    letter-spacing: 0.4px;
    color: grey;
    text-decoration: line-through;
    display: inline-block;
    line-height: 1.1;
    padding-right: 5px;
    font-weight: 400;
  }
}

.price {
  font-size: 22px;
  line-height: 1.1;
  font-style: normal;
  font-weight: 700;
  color: #d01345;
  margin-left: 7px;
}

.percentage {
  color: #d01345;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: unset;
}

.saleContainer {
  background: #f1de0a;
  border-radius: 2px;
  margin-top: 10px;
  width: 20%;

  .p {
    font-size: 14px !important;
    color: #000 !important;
    padding: 3px 10px;
    margin: 0;

    img {
      width: 14px;
      padding-bottom: 3px;
    }
  }
}

.attributeContainer {
  margin-top: 20px;
  .imageBox {
    width: 64px;
    max-height: 76px;
    margin-right: 10px !important;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    text-align: center !important;
    cursor: pointer;
  }
  .attribute {
    margin-right: 4px;
    margin-bottom: 8px;
    font-size: 16px;
    text-transform: uppercase;
    display: inline-block;
    font-weight: 500;
    color: #000;
  }
}

.sizes {
  display: inline-block;
  min-width: 45px;
  height: 45px;
  background: #fff;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-transform: capitalize;
  border: 1px solid #000;
  color: #000;
  margin-right: 14px;
  margin-bottom: 10px;
  text-align: center;
  border-radius: 50%;
  font-size: 14px;
  padding-top: 10px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}
.inactive {
  background-color: #fff !important;
  background-image: url(../Assets/images/cross.png);
  background-size: cover;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: #bbb8b8 !important;
  border: 2px solid #ddd !important;
}

.active {
  background-color: $primary-color;
  border-color: $primary-color;
  color: $text-white;
}

.checkoutContainer {
  display: flex;
  .checkoutBtnDiv {
    width: 55%;

    button {
      width: 100%;
      height: 56px;
      background: linear-gradient(87deg, #fb6340, #da1c5f) !important;
      border: #fb6340;
      -webkit-box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
      box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
      -webkit-transition: all 0.2s ease 0s;
      transition: all 0.2s ease 0s;
      position: relative;
      color: #fff;
      font-size: 18px;
      text-transform: uppercase;
    }
  }
}
.wishlistContainer {
  margin-left: 10px;
  width: 40%;
  div {
    border: 1px solid #707070 !important;
    width: 100%;
    height: 56px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #fff;
    padding: 0 15px;
    cursor: pointer;
  }
}
.prodImageWrapper {
  height: 500px;
  width: 100%;
  @media only screen and (max-width: 600px) {
    height: 300px;
  }
  .prodImage {
    object-fit: cover !important;

    @media only screen and (max-width: 600px) {
      object-fit: cover !important;
    }
  }
}
