.customBody {
    .btnCss {
        display: flex;
        align-items: center;
        width: 100% !important;
        height: 100% !important;
        text-align: left;
    }
    .userName {
        margin: 0;
    }
}
